

<style>
    body{
        text-align: center;
    }
    .button{
        border:2px #ddb9ea solid;
        border-radius:5px;
        background-color:white;
        color:#986fa7;
        padding: 10px 20px;
    }
    .button:hover {
        border:2px #ddb9ea solid;
        border-radius:5px;
        background-color:#986fa7;
        color:white;
        padding: 10px 20px;
    }
    h1{color:#986fa7;}
</style>
<body>
    {% extends 'base.html' %}
    {% block contents %}
    {% load staticfiles %}

        <br><br>
        <h1>결정장애 당신을 위한 오늘의 영화!</h1>
        <br><br>
        <img src="/static/movieimg/{{img_name}}" height="80%" alt="{{img_name}}"/>
        <br>
        <h3>{{movieList}}</h3>
        <br>
        <input type="button" class="button" value="RANDOM" onclick="location.reload()">
        <br><br>

    {% endblock %}
</body>

