<style>
    body{
        text-align: center;
    }

    img{
        width:"40%";
    }

    .button{
        border:2px #ddb9ea solid;
        border-radius:5px;
        background-color:white;
        color:#986fa7;
        padding: 10px 20px;
    }
    .button:hover {
        border:2px #ddb9ea solid;
        border-radius:5px;
        background-color:#986fa7;
        color:white;
        padding: 10px 20px;
    }
</style>

<body>
    {% extends 'base.html' %}
    {% block contents %}
    {% load staticfiles %}
    <br><br>
    <h1>오늘 당신의 선택은!</h1>

    <img src = {{ uploaded_file_url}}>
    <br>

    <input type="button" class="button" value="RANDOM" onclick="location.reload()">
    <br><br>
    {% endblock %}
</body>